	// start .sNewsDetails
.sNewsDetails {
 padding-bottom: rem(40);
	&__wrap{
		max-width: rem(890);
	}
	picture{
		margin-bottom: rem(46);
	}
	p{
		font-size: rem(20);
		line-height: (34 / 20);
	}
	ul{
		list-style: none;
	}
	li{
		position: relative;
		padding-left: rem(20);
		margin-bottom: 1rem;
		&::before{
			content: '';
			position: absolute;
			left: 0;
			top: rem(10);
			width: 6px;
			height: 6px;
			background-color: $primary;
		}
	}

	&__btn {
		@extend .btn;
		@extend .btn-primary;
		position: relative;
		margin-top: rem(20);
		padding-right: rem(30);
		&::after{
			content: '';
			@include a-cent(y);
			height: rem(44);
			width: rem(25);
			background-image: url(../img/svg/arrows.svg);
			background-size: 100% 100%;
			right: rem(5);
			@include mt;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}

	&-session {
		margin-top: rem(-25);
		padding-bottom: 5rem;
		.container {
			@include media-breakpoint-up(xl) {
				max-width: 1080px;
			}
		}

		p {
			margin-bottom: 1.7rem;
		}
	}
} // end.sNewsDetails