mixin sNewsDetails()
	// start sNewsDetails
	+b.sNewsDetails#sNewsDetails&attributes(attributes)
		.container
			+e.wrap
				if block
					block
				else
					+pic('rec')
					+e.text-block
						p От имени ОАО «РЖД» приглашаю вас принять участие в первом международном транспортно-логистическом форуме «PRO//Движение.1520». Обращение генерального директора - председателя правления ОАО «РЖД» Олега Белозёрова Сегодня в мировой экономике наилучшие успехи имеют те бизнесы, которые готовы трансформироваться и постоянно аккумулировать синергетические эффекты от взаимодействия с идеями и технологиями других отраслей. Для российского транспорта ...


						ul
							li От имени ОАО «РЖД» приглашаю вас принять 
							li Участие в первом международном транспортно-логистическом
							li Форуме «PRO//Движение.1520».

							li Обращение генерального 
							li Директора - председателя правления ОАО «РЖД»





	// end sNewsDetails
mixin sNewsDetails2()
	// start sNewsDetails
	+b.sNewsDetails.section#sNewsDetails&attributes(attributes) 
		+e.text-block-left
			p В&nbsp;связи с&nbsp;особой эпидемиологической обстановкой в&nbsp;Российской Федерации, а&nbsp;также руководствуясь рекомендациями Роспотребнадзора, просим соблюдать простые правила: носить маски и&nbsp;перчатки на&nbsp;территории Слета, а также соблюдать дистанцию 1,5&nbsp;метра.

			p Также будет соблюден контроль температуры в&nbsp;качестве меры по предупреждению распространения коронавируса.

			p В&nbsp;случае вашего неприбытия на&nbsp;Слет, пресс-служба готова предоставить всю необходимую информацию в&nbsp;электронном виде (фото, видео, пресс-релизы, пост-релизы).
			h4 Аккредитация СМИ
			p Для работы на&nbsp;Всероссийском слете Национальной лиги студенческихклубов необходимо быть аккредитованным пресс-службой Стетаdiv Для участия в&nbsp;мероприятии представителям СМИ (или их&nbsp;редакциям)необходимо #[strong: a(href="#") скачать форму] , заполнитьее&nbsp;и&nbsp;отправить на&nbsp;эл.адрес #[a(href="mailto:nlskpress@fadm.gov.ru") nlskpress@fadm.gov.ru] . Форму необходимозаполнить на&nbsp;каждого представителя СМИ и&nbsp;сотрудника, пребывающего натерритории (включая технический персонал, водителей, ассистентов).
			p Все вопросы касательно аккредитации можно отправлять на #[a(href="mailto:nlskpress@fadm.gov.ru") nlskpress@fadm.gov.ru] . Для корреспондентов ТВ-каналов: укажите номер  и марку автомобиля для проезда на территорию Слета. Просим учесть, что  водитель также получает аккредитацию. Если вы указываете марку и номер  автомобиля в данной форме, то она должна быть заполнена на водителя.
			p Информация о проходе доводится до сведения аккредитованных журналистов сотрудниками пресс-службы;

			p Работа представителей СМИ на площадке согласовывается заранее и подтверждается пресс-службой Слета;

			p Представители СМИ находятся на площадке в сопровождении пресс-службы Слета. Медиаслужба Слета правомочна отказать СМИ в предоставлении аккредитации его журналистам без объяснения причины.
			+e.card
				+e.card-img-wrap
					+pic('sMembers-10','bg')
				+e.card-caption
					+e.card-text 
						.smallest Вы всегда можете написать на почту: 
						|
						a.strong.text-body(href="mailto:nlskpress@fadm.gov.ru") nlskpress@fadm.gov.ru
					+e.card-text 
						.smallest Или позвонить: 
						|
						a.strong.text-body(href="tel:+7(926)278-32-93") +7(926) 278-32-93
					+e.name.strong Анастасия Потычкина
					.smallest руководитель пресс-службы Всероссийского слета Национальной лиги студенческих клубов
	// end sNewsDetails