mixin footer()
	+b.FOOTER.footer
		.container
			.row
				+e.col.col-lg-auto
					img.res-i(src="img/svg/logo-head-foot.svg" loading="lazy", alt="")
				+e.col.col
					img(src="img/svg/footer-logo.svg" loading="lazy", alt="")
				.col-lg-auto
					+soc