mixin footer()
	+b.FOOTER.footer
		.container
			.row
				+e.col.col-lg-auto
					img.res-i(src="img/svg/logo-head-foot.svg" loading="lazy", alt="")
				+e.col.col
					img(src="img/svg/footer-logo.svg" loading="lazy", alt="")
				+e.col.col-auto.col-xl-3.small
					a.text-dark(href="tel:+74997534956") +7 499 753 49 56
					br 
					a.text-dark(href="mailto:reg@gudok.ru") reg@gudok.ru
					br
					a.text-dark(href="www.railwayforum.ru")  www.railwayforum.ru
				.col-lg-auto
					+soc