mixin sRews()
	// start sRews
	+b.sRews#sRews&attributes(attributes)
		.container
			+e.slider--js.swiper-container
				.swiper-wrapper
					- for (var x = 0; x < 4; x++)
						+e.slide.swiper-slide
							+e.item
								+e.caption
									p: strong Заголовок отзыва в одну или две строки для наглядности отображения 
									p От имени ОАО «РЖД» приглашаю вас принять участие в первом международном транспортно-логистическом форуме «PRO//Движение.1520». Обращение генерального директора - председателя правления
									.text-right
										a(href="#").strong Читать полностью
								+e.footer
									.row
										.col-auto
											+e.img-wrap
												img.res-i.swiper-lazy(src="#" data-src="img/@1x/man.png", alt="")
										.col
											.h5.strong Олег Белозёров
											.small Генеральный директор - председатель правления ОАО «РЖД»
						// /+e.slide.swiper-slide
				.swiper-pagination
	// end sRews