
mixin modal() 
	//  start modals

	+b.modal-win(id="modal-ask-question" class=" " style="display: none" )
		+form-wrap
			+e.title.form-data.h3.ttu Задать вопрос
 
			+input("Не выбрано",'select','Выберите спикера')
			+input("Вопрос для спикера",'textarea','Вопрос для спикера')
			.row

				.col-sm-auto.order-sm-last.mb-2
					+e.BUTTON.btn.btn.btn-primary.btn-block(type="submit"  )  Отправить
				.col.small.mb-2 Вы можете задать любой вопрос спикеру, но прежде чем они будут им доставленны они пройдут предварительную премодерацию.
	// #modal-call 
	+b.modal-win--lg(id="modal-edit" class=" " style="display: none" )
		+reg('Сохранить')
	// #modal-call
	
	+b.modal-win(id="modal-reg" class=" " style="display: none" )
			.text-center 
				.h5 Чат будет доступен в&nbsp;день мероприятия. А&nbsp;сейчас&nbsp;Вы можете 	зарегистрироваться 
				a.btn.btn-danger(href="#") Регистрация
	// #modal-call
	
	+b.modal-win(id="modal-signup" class=" " style="display: none" )
		+form-wrap
			+e.input-wrap.form-group
				label
					+b.SPAN.input-title Страна
					+e.SELECT.input.form-control
						option Россия
						option Казахстан
						option Азербайджан
			+e.input-wrap.form-group
				label
					+b.SPAN.input-title Дата
					+e.SELECT.input.form-control
						option 16 октября  
						option 17 октября
			+e.input-wrap.form-group
				label
					+b.SPAN.input-title Время
					+e.SELECT.input.form-control
						option 14:00
						option 14:30
						option 15:00
						option 15:30
						option 16:00
						option 16:30
						option 17:00
						option 17:30
			+e.btn(type="submit") Записаться


	+b.modal-win(id="modal-speaker" class="modal-speaker" style="display: none" )
		.row
			+e.imgCol.col-md.d-none.d-md-block
				+e.imgWrap
					+pic(`speaker-2.png`,'','')
			+e.textCol.col
				+e.name.text-primary Олег Белозеров
				+e.position Генеральный директор - председатель правления ОАО «РЖД»
				p Окончил Санкт-Петербургский университет экономики и&nbsp;финансов (1992).
				p #[strong 2000-2001 гг. –] Аппарат полномочного представителя Президента Российской Федерации в&nbsp;Северо&nbsp;&mdash; Западном федеральном округе, начальник финансово-экономического отдела.
				p #[strong 2001-2002 гг. –] ОАО &laquo;ЛОМО&raquo;, заместитель директора по&nbsp;управлению корпоративным имуществом.
				p #[strong 2002-2004 гг. –] ОАО &laquo;Российская топливная компания&raquo;, генеральный директор.
				p #[strong 2004-2009 гг. –] Федеральное дорожное агентство, заместитель руководителя, руководитель.
				p #[strong 2009-2015 гг. –] Министерство транспорта Российской Федерации, заместитель, первый заместитель министра.
				p #[strong С 2011 г.] действительный государственный советник Российской Федерации 1&nbsp;класса.
				p #[strong 20 августа 2015 г. –] назначен на&nbsp;должность президента ОАО&nbsp;&laquo;РЖД&raquo;.
				p #[strong 17 ноября 2017 г. –] распоряжением Правительства Российской Федерации назначен генеральным директором&nbsp;&mdash; председателем правления ОАО &laquo;РЖД&raquo;. Председатель Международного союза железных дорог, сопредседатель Совета делового сотрудничества Россия-Франция.

	// #modal-call 
	// end modals