mixin sWelcome()
	// start sWelcome
	+b.sWelcome.section#sWelcome&attributes(attributes)
		.container 
			+e.head
				.row
					.col-lg-6
					.col
						.row
							.col ПРИВЕТСТВИЕ УЧАСТНИКАМ
								
							.col-auto
								.cotrol-wrap
									+arrow()
			+e.slider--js.swiper-container
				.swiper-wrapper
					- for (var x = 0; x < 3; x++)
						+e.slide.swiper-slide
							.row
								.col-lg-6.order-first
									+e.img-wrap
										img.res-i.swiper-lazy(src="#" data-src="img/@2x/man.png", alt="")
								+e.col.col-lg-6
									h6 ОБРАЩЕНИЕ ГЕНЕРАЛЬНОГО ДИРЕКТОРА - ПРЕДСЕДАТЕЛЯ ПРАВЛЕНИЯ ОАО «РЖД»              #[strong ОЛЕГА БЕЛОЗЁРОВА]
									p: strong Уважаемые коллеги! 
									+e.cut
											p
												| От имени ОАО «РЖД» приветствую участников Международного транспортно-логистический форума «PRO//Движение.1520»!
												| Сегодня для компании «РЖД» и всех наших партнеров как никогда важен созидательный диалог и сохранение тенденций развития железнодорожных грузовых перевозок в условиях новой реальности.
											 
								.col-lg-6.order-lg-0.order-first
									+e.caption
										.h6.strong Олег Белозёров
										p Генеральный директор - председатель правления ОАО «РЖД»
								.col-lg-6.align-self-center
									a.btn.btn-primary.btn-arrows.link-modal(href="#modal-welcome") Читать полностью
			.swiper-pagination
	// end sWelcome