extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sNewsDetails/_sNewsDetails.pug
include ../blocks/sNews/_sNews.pug
include ../blocks/sSpeakers/_sSpeakers.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Участники'
	title= title
block pagecontent 
	+top-nav()
	+b.page-title
		.container
			h1= title
	+sSpeakers()
		+e.search
			+input('Найти спикера','search')
			+e.btnSearch(type='submit')
				+icon('search')
		.row
			.col-sm-6.col-lg-3
				+sSpeakersCard('2_1.jpg','Иванов Иван','Название организации в&nbsp;две строки')
			.col-sm-6.col-lg-3
				+sSpeakersCard('','МАРИЯ ИВАНОВА','Название организации в&nbsp;две строки')
			.col-sm-6.col-lg-3
				+sSpeakersCard('2_2.jpg','Иванов Иван','Название организации в&nbsp;две строки')
			.col-sm-6.col-lg-3
				+sSpeakersCard('2_3.jpg','Иванов Иван','Название организации в&nbsp;две строки')
			.col-sm-6.col-lg-3
				+sSpeakersCard('2_4.jpg','Иванов Иван','Название организации в&nbsp;две строки')
			.col-sm-6.col-lg-3
				+sSpeakersCard('','Иванов Иван','Название организации в&nbsp;две строки')
			.col-sm-6.col-lg-3
				+sSpeakersCard('2_5.jpg','МАРИЯ ИВАНОВА','Название организации в&nbsp;две строки')
			.col-sm-6.col-lg-3
				+sSpeakersCard('2_6.jpg','Иванов Иван','Название организации в&nbsp;две строки')
			.col-sm-6.col-lg-3
				+sSpeakersCard('2_7.jpg','МАРИЯ ИВАНОВА','Название организации в&nbsp;две строки')
			.col-sm-6.col-lg-3
				+sSpeakersCard('2_8.jpg','Иванов Иван','Название организации в&nbsp;две строки')
			.col-sm-6.col-lg-3
				+sSpeakersCard('2_9.jpg','МАРИЯ ИВАНОВА','Название организации в&nbsp;две строки')
			.col-sm-6.col-lg-3
				+sSpeakersCard('2_10.jpg','Иванов Иван','Название организации в&nbsp;две строки')
			.col-sm-6.col-lg-3
				+sSpeakersCard('2_11.jpg','Иванов Иван','Название организации в&nbsp;две строки')
			.col-sm-6.col-lg-3
				+sSpeakersCard('2_12.jpg','МАРИЯ ИВАНОВА','Название организации в&nbsp;две строки')
			.col-sm-6.col-lg-3
				+sSpeakersCard('2_13.jpg','Иванов Иван','Название организации в&nbsp;две строки')
			.col-sm-6.col-lg-3
				+sSpeakersCard('2_14.jpg','МАРИЯ ИВАНОВА','Название организации в&nbsp;две строки')
		+pugin()


	+footer()


	