extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sLogos/_sLogos.pug
include ../blocks/sVideo/_sVideo.pug
include ../blocks/sAwaits/_sAwaits.pug
include ../blocks/sDates/_sDates.pug
include ../blocks/sExhibition/_sExhibition.pug
include ../blocks/sPartners/_sPartners.pug


block variables
	- let  mainPage= 'main-page'
block title
	- let  title= 'Главная'
	title= title
block pagecontent
	+top-nav()
	+headerBlock()
	//- +sAwaits
	//- +sDates
	//- +sVideo
	//- +sExhibition
 
	//- +sLogos
	+sPartners()(class="section")
		.section-title
			h2 Партнеры
	+footer()


	