mixin sPartners()
	// start sPartners
	+b.sPartners&attributes(attributes)
		.container 
			mixin item(data)
				+e.col.col-2
					+e.item(href="#")
						+e.DIV.title= data.t
						+e.DIV.img-wrap
							img.res-i(src=`img/@2x/sPartner-${data.i}.png` loading="lazy", alt="")
			.row
				+item({
					t: "",
					i: "",
				})
	// end sPartners