mixin sPartners()
	// start sPartners
	+b.sPartners&attributes(attributes)

		.container 
			block
			mixin item(data)
				+e.col.col-sm-auto.col-6
					+e.item.link-modal(href="#modal-content")
						if data.t
							+e.DIV.title= data.t
						+e.DIV.img-wrap
							+pic(`sPartner-${data.i}.png`,'',0) 
					+e.hidden.d-none
						+b.modal-row.row.pt-4
							.col-sm-3
								.sPartners__img-wrap.mb-2
									+pic(`sPartner-${data.i}.png`,'',0) 
								.sPartners__title.mw-100= data.t
							+e.textCol.col.pt-0
								+e.title.text-primary.mb-2.ttu РЖД 
								p ОАО «Российские железные дороги» является одной из самых крупных в мире железнодорожных компаний с колоссальными объемами грузовых и пассажирских перевозок, обладающей высокими финансовыми рейтингами, квалифицированными специалистами во всех областях железнодорожного транспорта, большой научно-технической базой, проектными и строительными мощностями, значительным опытом международного сотрудничества. Компания эксплуатирует одну из крупнейших железнодорожных систем мира длиной 85,5 тыс. км, занимая лидирующие позиции по протяженности электрифицированных линий – 43,7 тыс. км. В транспортной системе России ОАО «РЖД» обеспечивает свыше 45% совокупного грузооборота (с учетом трубопроводного транспорта) и около 25% пассажирооборота.
			 
			.row
				+item({
					i: "1",
					t: "Генеральный партнер",
				})
				
				+item({
					i: "2",
					t: "Организатор",
				})
			.row.justify-content-around
				+item({i: "3", t: "Стратегический партнер" })
				+item({i: "4", t: "Официальный банк спонсор" })
				+item({i: "5", t: "Партнер" })
				+item({i: "6", t: "Высокотехнологичный партнер" })
				+item({i: "7", t: "Спонсор" })
				+item({i: "8", t: "Спонсор навигации" })

				+item({i: "9", t: "Стратегический партнер" })
				+item({i: "10", t: "Официальный банк спонсор" })
				+item({i: "11", t: "Партнер" })
				+item({i: "12", t: "Высокотехнологичный партнер" })
				+item({i: "13", t: "Спонсор" })
				+item({i: "14", t: "Спонсор навигации" })

				+item({i: "15", t: "Стратегический партнер" })
				+item({i: "16", t: "Официальный банк спонсор" })
				+item({i: "17", t: "Партнер" })
				+item({i: "18", t: "Высокотехнологичный партнер" })
				+item({i: "19", t: "Спонсор" })
				+item({i: "20", t: "Спонсор навигации" })
				
				+item({i: "21", t: "Стратегический партнер" })
				+item({i: "22", t: "Официальный банк спонсор" })
				+item({i: "23", t: "Партнер" })
			.small.strong.text-center.pb-5 ОТРАСЛЕВЫЕ ИНФОПАРТНЕРЫ
			+e.wrap
				.row.align-items-center.justify-content-around
					+item({i: "24", t: "" })
					+item({i: "25", t: "" })
					+item({i: "26", t: "" })
					+item({i: "27", t: "" })
					+item({i: "28", t: "" })
					+item({i: "29", t: "" })
					+item({i: "30", t: "" })

	// end sPartners